{% load static %}
{% block user_content %}
    <div class="row justify-content-center" style="max-height: 190px; display: flex">
        <div class='col-4 align-self-center'>
            <img src="{% static 'icons/photo_2024-06-21_21-51-45.jpg' %}" style="height: auto;
            max-width: 100%; max-height: 190px" class="rounded-4 shadow">
        </div>
        <div class="col-8 align-self-center" style="max-height: 190px">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span>Пройдено тестов: <b>{{ user.completed_tests_ids|length }}</b></span></li>
                <li class="list-group-item"><span>Прочитано статей: <b>2</b></span></li>
                <li class="list-group-item"><span>Просмотрено атласов: <b>3</b></span></li>
                <li class="list-group-item"><span>Дней на платформе: <b>{{ user.get_count_days_on_platform }}</b></span></li>
            </ul>
        </div>
    </div>
{% endblock %}