{% include 'index.html' %}
{% load static %}
{% block content %}
    <div class="container p-4 pt-3">
        <h1 class="p-2" style="padding-bottom: 0 !important;"><b>Все заметки</b></h1>
        <hr class="hr" style="margin-right: 8px; margin-left: 8px"/>
{#        {% if tests %}<h2 class="p-2">Тесты</h2>{% endif %}#}
    {% if tests or atlases or articles %}
        <div class="row">
        {% for test in tests %}
            <div class="col-12 pb-3">
                <div class="card rounded-4 shadow border-0 d-flex flex-row align-items-center p-2" style="background-color: #F1F0EA;">
                    <div style="width: 100px; height: 100px; border-radius: 16px; overflow: hidden;" class="me-3">
                        <img src="{% static test.test_photo %}" alt="img" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <div class="flex-grow-1">
                        <div class="d-flex justify-content-between align-items-start">
                            <div class="fw-bold" style="color: #1D3C3C;">{{ test.note }}</div>
                            <div class="d-flex gap-2">
                                <a href="delete_note/{{ test.id }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="#335B5A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-bookmark-off">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M7.708 3.721a3.982 3.982 0 0 1 2.292 -.721h4a4 4 0 0 1 4 4v7m0 4v3l-6 -4l-6 4v-14c0 -.308 .035 -.609 .1 -.897"/>
                                        <path d="M3 3l18 18"/>
                                    </svg>
                                </a>
                                <a href="{{ test.get_absolute_url }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="#335B5A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-up-right">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M17 7l-10 10"/>
                                        <path d="M8 7h9v9"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div style="color: #335B5A; font-size: 14px;">{{ test }}</div>
                        <div class="mt-2 d-flex justify-content-end">
                            <span class="badge rounded-pill" style="background-color: #D8D8D8; color: #335B5A;">тест</span>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
{#        {% if atlases %}<h2 class="p-2">Атласы</h2>{% endif %}#}
        <div class="row">
            {% for atlas in atlases %}
                <div class="col-12 pb-3">
                    <div class="card rounded-4 shadow border-0 d-flex flex-row align-items-center p-2" style="background-color: #F1F0EA;">
                        <div style="width: 100px; height: 100px; border-radius: 16px; overflow: hidden;" class="me-3">
                            <img src="{% static atlas.atlas_file %}" alt="img" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                        <div class="flex-grow-1">
                            <div class="d-flex justify-content-between align-items-start">
                                <div class="fw-bold" style="color: #1D3C3C;">{{ atlas.note }}</div>
                                <div class="d-flex gap-2">
                                    <a href="delete_note/{{ atlas.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="#335B5A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-bookmark-off">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M7.708 3.721a3.982 3.982 0 0 1 2.292 -.721h4a4 4 0 0 1 4 4v7m0 4v3l-6 -4l-6 4v-14c0 -.308 .035 -.609 .1 -.897"/>
                                            <path d="M3 3l18 18"/>
                                        </svg>
                                    </a>
                                    <a href="{{ atlas.get_absolute_url }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="#335B5A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-up-right">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M17 7l-10 10"/>
                                            <path d="M8 7h9v9"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div style="color: #335B5A; font-size: 14px;">{{ atlas }}</div>
                            <div class="mt-2 d-flex justify-content-end">
                                <span class="badge rounded-pill" style="background-color: #D8D8D8; color: #335B5A;">атлас</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{#        {% if articles %}<h2 class="p-2">Статьи</h2>{% endif %}#}
        <div class="row">
            {% for article in articles %}
                <div class="col-12 pb-3">
                    <div class="card rounded-4 shadow border-0 d-flex flex-row align-items-center p-2" style="background-color: #F1F0EA;">
                        <div style="width: 100px; height: 100px; border-radius: 16px; overflow: hidden;" class="me-3">
                            <img src="{% static article.article_photo %}" alt="img" style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                        <div class="flex-grow-1">
                            <div class="d-flex justify-content-between align-items-start">
                                <div class="fw-bold" style="color: #1D3C3C;">{{ article.note }}</div>
                                <div class="d-flex gap-2">
                                    <a href="delete_note/{{ article.id }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="#335B5A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-bookmark-off">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M7.708 3.721a3.982 3.982 0 0 1 2.292 -.721h4a4 4 0 0 1 4 4v7m0 4v3l-6 -4l-6 4v-14c0 -.308 .035 -.609 .1 -.897"/>
                                            <path d="M3 3l18 18"/>
                                        </svg>
                                    </a>
                                    <a href="{{ article.get_absolute_url }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" stroke="#335B5A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-arrow-up-right">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                            <path d="M17 7l-10 10"/>
                                            <path d="M8 7h9v9"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div style="color: #335B5A; font-size: 14px;">{{ article }}</div>
                            <div class="mt-2 d-flex justify-content-end">
                                <span class="badge rounded-pill" style="background-color: #D8D8D8; color: #335B5A;">статья</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="container p-4 mt-4 mb-4 text-center">
            <h1 style="font-size: 36px !important;">У вас пока нет заметок =(</h1>
        </div>
        <div class="d-flex pt-3 p-4 mt-4 pb-0 justify-content-center">
            <img src="{% static 'icons/empty.svg' %}"/>
        </div>
        <div class="d-flex p-2 m-2 pt-0 justify-content-center">
            <a href="{% url 'main' %}">
                <button class="btn btn-primary btn-sm mt-2 rounded-4 shadow-lg"><span class='m-2'
                                                                                      style="margin-right: 1px !important">Открыть главную</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"
                         fill="currentColor"
                         class="icon icon-tabler icons-tabler-filled icon-tabler-circle-arrow-up-right">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-2 4.66h-6l-.117 .007a1 1 0 0 0 -.883 .993l.007 .117a1 1 0 0 0 .993 .883h3.584l-4.291 4.293l-.083 .094a1 1 0 0 0 1.497 1.32l4.293 -4.293v3.586l.007 .117a1 1 0 0 0 1.993 -.117v-6l-.007 -.117l-.029 -.149l-.035 -.105l-.054 -.113l-.071 -.111a1.01 1.01 0 0 0 -.097 -.112l-.09 -.08l-.096 -.067l-.098 -.052l-.11 -.044l-.112 -.03l-.126 -.017l-.075 -.003z"/>
                    </svg>
                </button>
            </a>
        </div>
        {% endif %}
    </div>
{% endblock %}