<label>
    <button class="favorite-button btn btn-link p-0 m-0 w-100" style="border: 0; text-decoration: none" data-item-id="{{ test.id }}">
        {% if is_favorite %}❤{% else %}🤍{% endif %}
    </button>
</label>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% csrf_token %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<script>
    $(document).ready(function() {
        $('.favorite-button ').click(function() {
            var button = $(this);
            var testId = button.data('item-id');
            $.ajax({
                url: '/tests/toggle_favorite_test/' + testId + '/',
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function(response) {
                    if (response.action === 'added') {
                        button.text('❤')
                    } else {
                        button.text('🤍')
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Ошибка:", error);
                }
            });
        });
    });
</script>

