<button class="btn btn-warning favorite-button w-100" data-item-id="{{ test.id }}">
    {% if is_favorite %}
    unfav
    {% else %}
    fav
    {% endif %}
</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% csrf_token %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<script>
    $(document).ready(function() {
        $('.favorite-button ').click(function() {
            var button = $(this);
            var testId = button.data('item-id');

            $.ajax({
                url: '/tests/toggle_favorite_test/' + testId + '/',
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function(response) {
                    if (response.action === 'updated') {
                        button.text('Изменить');
                    } else {
                        button.text('Добавить');
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Ошибка:", error);
                }
            });
        });
    });
</script>

