{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container pt-2">
        <div class="row p-2">
        <h1>СПИСОК ТЕСТОВ</h1>
        {% for test in tests %}
            <div class="col-6 p-1">
                <div class="card">
                    <div class="card-body">
                        <div class="row d-flex justify-content-between">
                            <div class="col-9">
                                <b><span class="card-title">{{ test }}</span></b>
                            </div>
                            <div class="col-3 d-flex justify-content-end" style="align-items: end !important">
                                <a href="{{ test.get_absolute_url }}" style="text-decoration: none">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <span class="card-subtitle mb-2 text-muted">Вопросов: <b>{{ test.questions_ids|length }}</b></span>
                        <hr class="hr"/>
                        <div class="container p-0 m-0" style="min-height: 100px">
                            {% for catalog in test.catalog_ids %}
                                {% if forloop.counter <= 4 %}
                                    <span class="badge rounded-pill bg-dark" style="min-width: 10vw; margin-right: 1px">
                                        <a href="{{ catalog.get_absolute_url }}" style="text-decoration: none; color: white">{{ catalog }}</a>
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <nav>
            <ul class="pagination">
                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active"><a class="page-link" href="#">{{ p }}</a></li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}