{% load static %}
{% block popular_test %}
    <div class="mb-3">
        <h1 class="mb-2">Популярные тесты</h1>
        <div class="scrollable-container" id="container">
            {% for test in popular_tests %}
                <div class="p-0">
                    <div class="card little-card draggable border-0">
                        <img src="{% static test.test_file %}" class="card-img-top" alt="..." onerror="this.src='{% static "alternate_imgs/kotek.png" %}'; this.onerror=null;">
                        <div class="card-body p-1">
                            <div class="row d-flex justify-content-center">
                                <div class="col-12 text-center p-2">
                                    <span class="card-title">{{ test|truncatechars:20 }}</span>
                                </div>
                            </div>
                            <div class="container p-0 m-0" style="max-height: 70px">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'tests:list_popular_tests' %}"><button class="btn btn-primary btn-sm mt-2 rounded-pill shadow">Посмотреть все</button></a>
    </div>
{% endblock %}