<div class="container-fluid p-0">
        <div class="row d-flex justify-content-between">
            <div class="col-6">
                <h1>{{ test.label }}</h1>
            </div>
            <div class="col-6 d-flex align-items-center">
                <div class="container p-0 d-flex justify-content-end pt-auto"><label class="p-auto">Вопрос 1 из 4</label></div>

            </div>
        </div>
</div>
<hr class="hr"/>
<form method="post" class="form-ensurance-control">
    <div class="container-fluid p-0 pb-2">
        <div class="row d-flex justify-content-between">
            <div class="col-8">
                <h2 class="w-100">{{ question.label }}</h2>
            </div>
            <div class="col-4">
                {% include 'test_add_favorite.html' %}
            </div>
        </div>
    </div>
    {% csrf_token %}
    {% if question.question_type == 'input' %}
        <input type="text" name="answer[]" required class="input-group"/>
    {% else %}
        {% for variant in variants %}
            <input class="form-check-input" type="{{ question.question_type }}" name="answer[]" value="{{ variant.id }}">{{ variant }}<br/>
        {% endfor %}
    {% endif %}
    <button type="submit" class='btn btn-success rounded-pill my-2 col-12 p-2'>Ответить</button>
</form>

