{% load static %}
{% block content %}
    <div class="scrollable-container" id="container">
        {% for test in tests %}
            <div class="col-6 text-start d-flex justify-content-start text-center">
                <a href="{{ test.get_absolute_url }}" style="text-decoration: none;">
                    <div class="card draggable-lg border-0 shadow rounded-4">
                        <img src="{% static test.test_photo %}" class="card-img-top rounded-top-4" alt="..." onerror="this.src='{% static "alternate_imgs/kotek.png" %}'; this.onerror=null;">
                        <div class="card-body text-truncate">
                            <span>{{ test }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}