{% load static %}
{% block content %}
    <div class="scrollable-container" id="container">
        {% for test in tests %}
            <a href="{{ test.get_absolute_url }}" style="text-decoration: none">
                <div class="card little-card draggable border-0 rounded-4">
                    <img src="{% static test.test_photo %}" class="card-img-top rounded-top-4" alt="..." onerror="this.src='{% static "alternate_imgs/kotek.png" %}'; this.onerror=null;">
                    <div class="card-body p-1">
                        <div class="row d-flex justify-content-center">
                            <div class="col-12 text-center p-2">
                                <span class="card-title">{{ test|truncatechars:20 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}