{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container pt-3">
        <div class="card card-bg">
            <div class="card-body p-4">
                <div class="row d-flex">
                    <div class="col-12" style='text-align: center'>
                        <div class="row row-cols-auto d-flex justify-content-center align-items-center">
                            <div class="col-auto p-0"><h1 class="w-100 p-0 m-0">{{ test.label }} {% include 'add_test_to_favorite.html' %}</h1></div>
{#                            <div class="col p-0"><div class="container p-0 d-flex justify-content-start pt-auto">{% include 'add_test_to_favorite.html' with is_favorite=is_favorite %}</div></div>#}
                        </div>
                        <h4> Кол-во вопросов: {{ test.questions_ids|length }}</h4>
                        {% if test.catalog_ids %}
                            <label class="pb-4">Темы по тесту: {% for catalog in test.catalog_ids %} <a href="{{ catalog.get_absolute_url }}">{{ catalog }}</a> {% endfor %}</label>
                        {% endif %}

                    </div>
                </div>
                <hr class="hr"/>
                <div class="row d-flex pt-2">
                    <div class="col-12">
                        {% include 'add_note_to_test.html' with note=note %}
                    </div>
                </div>
                <hr class="hr"/>
                <a href="{% url 'tests:start_test' test_id=test.id %}"><button class="btn btn-success rounded-pill my-2 col-12 p-2">Начать прохождение</button></a>
            </div>
        </div>
    </div>
{#    <ul>Принадлежит каталогам:</ul>#}
{#    {% for catalog in test.catalog_ids %}#}
{#        <li>{{ catalog }}</li>#}
{#    {% endfor %}#}
{% endblock %}