
    <button class="btn btn-warning favorite-button w-100" data-item-id="{{ question.id }}">
        {% if is_favorite %}
        unfav
        {% else %}
        fav
        {% endif %}
    </button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% csrf_token %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<script>
    $(document).ready(function() {
        $('.favorite-button ').click(function() {
            var button = $(this);
            var questionId = button.data('item-id');

            $.ajax({
                url: '/tests/favorite/' + questionId + '/',
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function(response) {
                    if (response.action === 'added') {
                        button.text('unfav');
                    } else {
                        button.text('fav');
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Ошибка:", error);
                }
            });
        });
    });
</script>

