<div class="accordion" id="accordionExample" style="padding-left: {{ indent }}px !important;">
    {% for catalog in catalogs %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button rounded-0" type="button" data-bs-toggle="collapse" aria-expanded="false"
                        data-bs-target="#collapseOne_{{ catalog.id }}" aria-controls="#collapseOne_{{ catalog.id }}">
                    {{ catalog }}
                </button>
            </h2>
            <div id="collapseOne_{{ catalog.id }}" class="accordion-collapse collapse">
                {% include "category_item.html" with catalogs=catalog.child.all indent=indent|add:'20' %}
            </div>
        </div>
    {% endfor %}
</div>