<div class="d-flex justify-content-end">
    <a href="{% url 'categories:main' %}">
        <button class="btn btn-primary btn-sm mt-2 rounded-4 shadow-lg">
            <span class='m-2' style="margin-right: 1px !important">Искать по категориям</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="icon icon-tabler icons-tabler-outline icon-tabler-list-search">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M15 15m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"/>
                <path d="M18.5 18.5l2.5 2.5"/>
                <path d="M4 6h16"/>
                <path d="M4 12h4"/>
                <path d="M4 18h4"/>
            </svg>
        </button>
    </a>
</div>