{% load static %}
<label>
    <button class="favorite-button btn-link p-0 m-0 w-100" style="border: 0; text-decoration: none; background: none" data-item-id="{{ atlas.id }}">
        {% if is_favorite %}<img id="test" src="{% static 'icons/star_black.svg' %}" width="18px" height="18px">{% else %}<img id='test' src="{% static 'icons/star.svg' %}" width="18px" height="18px">{% endif %}
    </button>
</label>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% csrf_token %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<script>
    $(document).ready(function() {
        $('.favorite-button ').click(function() {
            var button = $(this);
            var atlasId = button.data('item-id');
            var oldIcon = document.getElementById('test')
            $.ajax({
                url: '/atlases/toggle_favorite_atlas/' + atlasId + '/',
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                success: function(response) {
                    if (response.action === 'added') {
                        var newIcon = document.createElement('img')
                        newIcon.setAttribute('width', '18px')
                        newIcon.setAttribute('height', '18px')
                        newIcon.setAttribute('id', 'test')
                        newIcon.setAttribute('src', "{% static 'icons/star_black.svg' %}")
                        oldIcon.parentNode.replaceChild(newIcon, oldIcon)
                        console.log(response.action)
                    } else {
                        var newIcon = document.createElement('img')
                        newIcon.setAttribute('width', '18px')
                        newIcon.setAttribute('height', '18px')
                        newIcon.setAttribute('id', 'test')
                        newIcon.setAttribute('src', "{% static 'icons/star.svg' %}")
                        oldIcon.replaceWith(newIcon)
                        console.log(response.action)
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Ошибка:", error);
                }
            });
        });
    });
</script>

