{% extends "atlas_base.html" %}

{% load static %}

{% block title %}
	АТЛАСЫ
{% endblock %}

{% block content %}
    <h2><a href="{% url 'atlases:find' %}">Поиск по темам</a></h2>
    <h2>Каталоги</h2>
    {% for cat in categories %}
        {% if cat.is_main %}
            <h3><a href="{% url 'categories:open_catalog' catalog_id=cat.id %}">{{ cat.name }}</a></h3>
            {% if cat.image %}
                <img width="100" height="100" src="{% static cat.image.url %}" alt="Фото категории">
            {% endif %}
            <p>{{ cat.description }}</p>
        {% endif %}
    {% endfor %}
    <h2>Популярные атласы</h2>
    {% for atlas in popular_atlases %}

        {% include 'atlases_card.html' %}

    {% endfor %}

    <p><a href="{% url 'atlases:favorite_atlases' %}">Избранные атласы</a></p>
    {% if favorite_atlases|length != 0 %}

        {% for atlas in favorite_atlases %}

            {% include 'atlases_card.html' %}

        {% endfor %}
    {% endif %}

{% endblock %}