{% extends 'index.html' %}
{% load static %}
{% block content %}

    <style>
        .search-input {
            border-radius: 20px;
        }
    </style>
    <div class="container pt-3">
        <div class="p-1">
            <div class="input-group mb-3">
                <input type="text" class="form-control search-input" placeholder="Найти атлас">
                <button class="btn btn-outline-secondary" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
            {% include 'popular_atlases_component.html' with popular_atlases=popular_atlases %}
            <hr class="hr">
            {% include 'favorite_atlases_component.html' with favorite_atlases=favorite_atlases%}
        </div>
    </div>
{% endblock %}