{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container p-0 m-0">
            <div class="container p-3 text-center">
                <a class="icon-link" style="text-decoration: none; color: black">
                    {% include "add_atlas_to_favorite.html" %}
                    <b>{{ atlas.label }}</b>
                </a>
            </div>
        </div>
        <div class="container-fluid p-0 m-0">
            <img class='border-top border-dark border-bottom border-2 p-0 m-0 img-fluid' src="{% static atlas.atlas_file %}" style="width: 100%">
        </div>
        <div class="container p-4">
            <div class="row text-wrap text-break" style="line-height: 20px; padding-bottom: 20px">
                {% if atlas.description %}<span>{{ atlas.description }}</span>
                {% else %}<span>Описание отсутствует</span>
                {% endif %}
            </div>
            <hr class="hr-vet rounded" style="margin-bottom: 20px"/>
            <h5 class="mt-2 mb-2">Статьи и тесты по этой же теме</h5>
            <div class="mb-3">
                {% include 'scrollable_tests_cards.html' with tests=tests %}
            </div>
            {% include 'scrollable_articles_cards.html' with articles=articles %}
        </div>
    </div>
{% endblock %}


