{% include 'index.html' with active='articles' %}
{% load static %}
{% block content %}
    <div class="container p-4 pt-3">
        <form action="{% url 'articles:find' %}">
            <div class="input-group mb-3 mt-3" style="border-radius: 20px;">
                <input name="label__icontains" type="text" class="form-control search-input rounded-start-pill"
                       placeholder="Найти атлас" style="border-right: none; border-color: rgb(166,167,169)">
                <button class="btn btn-outline-secondary rounded-end-circle"
                        style="border-left: none; border-color: rgb(166,167,169)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
            </div>
        </form>
        {% if objects  is not None %}
            <div class="container p-4 pt-3">
                <div class="row text-center justify-content-between">
                {% if objects|length > 0 %}
                    <h1 class="p-1">Найденные статьи</h1>
                    {% for article in objects %}
                        <div class="col-6 p-1 text-start d-flex justify-content-center text-center">
                            <a href="{{ article.get_absolute_url }}" style="text-decoration: none;">
                                <div class="card draggable-lg border-0 shadow rounded-4">
                                    <img src="{% static article.article_photo %}" class="card-img-top rounded-top-4"
                                         alt="...">
                                    <div class="card-body">
                                        <span>{{ article }}</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    {% else %}
                        <h1 class="p-1">Ничего не найдено</h1>
                     {% endif %}
                </div>
            </div>
        {% else %}
            <div class="pb-3 pt-3">
                {% include 'popular_articles_component.html' with popular_articles=popular_articles %}
            </div>
            <div class="pb-3">
                {% include 'favorite_articles_component.html' with favorite_articles=favorite_articles %}
            </div>
        {% endif %}
    </div>
{% endblock %}