{% include 'index.html' with active='articles' %}
{% load static %}
{% block content %}
    <div class="container p-4 pt-3">
        <div class="row text-center justify-content-between">
        <h1 class="p-1">СПИСОК СТАТЕЙ</h1>
        {% for article in articles %}
            <div class="col-6 p-1 text-start d-flex justify-content-center text-center">
                <a href="{{ article.get_absolute_url }}" style="text-decoration: none;">
                    <div class="card draggable-lg border-0 shadow rounded-4">
                        <img src="{% static article.article_photo %}" class="card-img-top rounded-top-4" alt="..." onerror="this.src='{% static "alternate_imgs/kotek.png" %}'; this.onerror=null;">
                        <div class="card-body text-truncate">
                            <span>{{ article }}</span>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}