{% load static %}
{% block popular_article %}
    <div class="mb-3">
        <h1 class="mb-2">Популярные статьи</h1>
        <div class="scrollable-container" id="container">
            {% for article in popular_articles %}
                <div class="p-0">
                    <div class="card little-card draggable border-0">
                        <img src="{% static article.article_file %}" class="card-img-top" alt="..." onerror="this.src='{% static "alternate_imgs/kotek.png" %}'; this.onerror=null;">
                        <div class="card-body p-1">
                            <div class="row d-flex justify-content-center text-center">
                                <div class="col-12 p-2">
                                    <span class="card-title">{{ article|truncatechars:20 }}</span>
                                </div>
                            </div>
                            <div class="container p-0 m-0" style="max-height: 70px">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="btn btn-primary btn-sm mt-2 rounded-pill shadow">Посмотреть все</button>
    </div>
{% endblock %}